Repository wo-ist-markt/wo-ist-markt.github.io, pull requests merged in 2018-03, with the labels that each got.

#257 Update markets for Berlin (published 06.03.2018).
  cities/berlin.json
  preprocessing/berlin/raw/markets-berlin.json
Labels: City: Berlin, Content

#259 Vermarkte Hannoveraner Bauern (fixes #258)
  cities/hannover.json
Labels: City: Hannover, Content

#253 Use subresource integrity with font-awesome cdn
  index.html
Labels: Security

#254 Sanitize cityID user input
  js/main.js
Labels: Enhancement, Validation
