Repository wo-ist-markt/wo-ist-markt.github.io, pull requests merged in 2019-01, with the labels that each got.

#276 Updated markets for Kleve
  cities/kleve.json
Labels: City: Kleve, Content

#278 Market data konstanz
  README.md
  cities/cities.json
  cities/konstanz.json
Labels: City: Konstanz, Content

#279 ISSUE-162 compare key with id
  validation/markets-validator.js
Labels: Validation
