Repository wo-ist-markt/wo-ist-markt.github.io, pull requests merged in 2020-10, with the labels that each got.

#335 Take missing "streetNameAndNumber" into account.
  .jshintrc
  preprocessing/berlin/compile-berlin-geojson.js
Labels: City: Berlin, Enhancement, Preprocessing

#337 Add details URL for each market
  CONTRIBUTING.md
  cities/hamburg.json
  css/main.css
  js/main.js
Labels: Content, Feature request

#342 feat(fuerth): add details_urls
  cities/fürth.json
Labels: City: Fürth, Content, Enhancement

#340 Provide details URL for Berlin markets.
  cities/berlin.json
  preprocessing/berlin/compile-berlin-geojson.js
Labels: City: Berlin, Content, Preprocessing
