Repository wo-ist-markt/wo-ist-markt.github.io, pull requests merged in 2020-01, with the labels that each got.

#316 city Fürth in Bavaria added
  README.md
  cities/cities.json
  cities/fürth.json
Labels: City: Fürth, Content

#317 Adding city Hofheim am Taunus
  README.md
  cities/cities.json
  cities/hofheimamtaunus.json
Labels: City: Hofheim am Taunus, Content

#320 Update markets for Berlin (published 13.01.2020).
  cities/berlin.json
  preprocessing/berlin/raw/markets-berlin.json
Labels: City: Berlin, Content
