Repository wo-ist-markt/wo-ist-markt.github.io, pull requests merged in 2021-12, with the labels that each got.

#432 Update markets for Berlin (published 02.12.2021).
  cities/berlin.json
  preprocessing/berlin/raw/markets-berlin.json
Labels: City: Berlin, Content

#434 Update data source URL of Schleswig.
  cities/schleswig.json
Labels: Content, City: Schleswig

#431 Improve preprocessing for Berlin data
  cities/berlin.json
  preprocessing/berlin/compile-berlin-geojson.js
  preprocessing/berlin/raw/markets-berlin.json
Labels: City: Berlin, Content, Preprocessing

#438 Mark Cuxhaven as broken.
  validation/markets-validator.js
Labels: Content, Validation, City: Cuxhaven

#441 Add Salzkotten
  README.md
  cities/cities.json
  cities/salzkotten.json
Labels: Content, City: Salzkotten
