Repository wo-ist-markt/wo-ist-markt.github.io, pull requests merged in 2021-08, with the labels that each got.

#384 Use update date from original data source.
  cities/berlin.json
Labels: Bug fix, City: Berlin, Content

#385 Update data source URL for Nersingen.
  cities/nersingen.json
Labels: Bug fix, City: Nersingen, Content

#386 Update markets for Berlin (published 16.08.2021).
  cities/berlin.json
  preprocessing/berlin/raw/markets-berlin.json
Labels: City: Berlin, Content

#363 Remove font awesome
  css/main.css
  index.html
  js/main.js
  package-lock.json
  package.json
  rollup.config.js
Labels: Help wanted, good first issue, Design, Project setup
