Repository wo-ist-markt/wo-ist-markt.github.io, pull requests merged in 2022-05, with the labels that each got.

#492 Update Hannover's markets
  cities/erlangen.json
  cities/hannover.json
Labels: Content, City: Hannover

#506 Only check dependencies once a month to reduce email noise for maintainers.
  .github/dependabot.yml
Labels: Project setup

#511 Add Heidelberg
  README.md
  cities/cities.json
  cities/heidelberg.json
Labels: Content, City: Heidelberg
