Repository wo-ist-markt/wo-ist-markt.github.io, pull requests merged in 2022-01, with the labels that each got.

#446 Only check dependencies once a week to reduce email noise for maintainers.
  .github/dependabot.yml
Labels: Project setup

#451 do not update colors for now
  package.json
Labels: Severity: ★★★, Project setup

#454 Update markets for Berlin (published 14.01.2022).
  cities/berlin.json
  preprocessing/berlin/raw/markets-berlin.json
Labels: City: Berlin, Content

#457 Update markets for Berlin (published 18.01.2022).
  cities/berlin.json
  preprocessing/berlin/raw/markets-berlin.json
Labels: City: Berlin, Content
