Repository wo-ist-markt/wo-ist-markt.github.io, pull requests merged in 2023-05, with the labels that each got.

#582 Update outdated data source URLs.
  README.md
  cities/bottrop.json
  cities/düsseldorf.json
  cities/hanau.json
  cities/loxstedt.json
  cities/mallorca.json
Labels: Content, Validation

#579 Add Marl.
  README.md
  cities/cities.json
  cities/marl.json
Labels: Content, City: Marl

#583 Add Schiersteiner Wochenmarkt
  cities/wiesbaden.json
Labels: Content, City: Wiesbaden

#584 feat: add ludwigsburg
  README.md
  cities/cities.json
  cities/ludwigsburg.json
Labels: Content, City: Ludwigsburg
