Repository wo-ist-markt/wo-ist-markt.github.io, pull requests merged in 2025-01, with the labels that each got.

#687 Fix data source URLs for Siegen and Oberursel.
  README.md
  cities/oberursel.json
  cities/siegen.json
Labels: City: Siegen, City: Oberursel

#681 Rastatt added + validation fixed
  README.md
  cities/chemnitz.json
  cities/cities.json
  cities/rastatt.json
  validation/markets-validator.js
Labels: Content, City:Rastatt

#688 Update data source date for Berlin.
  cities/berlin.json
Labels: City: Berlin, Content
